body {
    font-family: Arial, sans-serif;
    background-color: #6d6d6d;
    padding: 20px;
}

body::before {
    position: fixed;
    top: 40%;
    left: 40%;
    content: "ECM";
    color: rgba(0, 0, 0, 0.1);
    /* Bu değeri değiştirerek yazının solukluğunu ayarlayabilirsiniz. */
    font-size: 7rem;
    /* Font boyutunu değiştirmek isterseniz bu değeri ayarlayabilirsiniz. */
}

hr {
    border-color: #989898;
}

input {
    margin-bottom: 10px;
    background-color: #bdbdbd;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#users li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#users li:last-child {
    border-bottom: none;
}

.userCard {
    border: 1px solid gray;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    backdrop-filter: sepia(1);
    background: #d0d0d0;
    margin: 5px;
    padding: 5px;
    width: 130px;
    filter: drop-shadow(1px 1px 1px black);
}

.userCard.voted {
    border: 5px solid #62da00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
    opacity: 0.75;
}

#userContainer {
    height: 300px;
    position: relative;
    box-sizing: border-box;
    margin-top: 30px;
}

#userContainer:first-child {
    margin-left: 0px;
}

.section-master {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 193px;
    margin-top: 15px;
}

.game-section button {
    margin-left: 5px;
}

.d-none {
    display: none;
}

.join-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.users {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}

.active {
    background-color: #62da00;
    padding: 15px;
}

.ali {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    width: 25%;

    opacity: 0;
    transition: opacity 15s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 15s;
}

.random-image {
    position: fixed;
    max-width: 100px;
    max-height: 100px;
    z-index: 999;
}